#posts {
	@include multi-property(border-radius, $global-border-radius);
	box-shadow: $background-shadow-size $background-shadow-size $background-shadow-spread $background-shadow-colour;
	display: inline-block;
	float: right;
	width: $posts-inner-width;
	margin-right: $content-inner-margins;
	padding: $posts-padding;
	background-color: $posts-background-colour;

	%post-horizontal-strip {
		@include multi-property(border-radius, $global-border-radius);
		display: block;
		height: $post-header-height;
		padding: $post-header-padding-vertical $post-header-padding-horizontal;
		line-height: $post-header-height;
		vertical-align: middle;
		overflow: hidden;
		background-color: $posts-background-colour;
	}

	%post-horizontal-strip-text-base {
		display: inline-block;
		height: $post-horizontal-strip-text-height;
		margin: $post-horizontal-strip-text-margin-vertical auto;
		padding: $post-horizontal-strip-text-padding;
		line-height: $post-horizontal-strip-text-height;
		font-size: $post-horizontal-strip-text-font-size;
	}

	%post-horizontal-strip-text-left {
		@extend %post-horizontal-strip-text-base;
		float: left;
		margin-left: $post-horizontal-strip-text-margin-horizontal;
	}

	%post-horizontal-strip-text-right {
		@extend %post-horizontal-strip-text-base;
		float: right;
		margin-right: $post-horizontal-strip-text-margin-horizontal;
	}

	%post-horizontal-strip-button-left {
		@extend %post-horizontal-strip-text-left;
		@extend %clickable;
	}

	%post-horizontal-strip-button-right {
		@extend %post-horizontal-strip-text-right;
		@extend %clickable;
	}

	.post-small-text-left {
		@extend %post-horizontal-strip-text-left;
		display: inline;
		margin-left: $post-small-text-margin;
		font-size: $post-small-text-font-size;
	}

	.post-small-text-right {
		@extend %post-horizontal-strip-text-right;
		display: inline;
		margin-right: $post-small-text-margin;
		font-size: $post-small-text-font-size;
	}

	#post-new-post-button-outer-container {
		@include multi-property(border-radius, $global-border-radius);
		background-color: $white;
		border: $global-dark-border;
		border-bottom: 0px;
		margin-bottom: $post-inset;

		#post-new-post-button-container {
			@extend %post-horizontal-strip;
			border-bottom: $global-dark-border;
			background-color: $background-colour;

			#post-new-post-button {
				@extend %post-horizontal-strip-button-right;
			}
		}

		#post-reply-box {
			border-bottom: $global-dark-border;
		}
	}

	#post-reply-box {
			@include multi-property(border-radius, 0px 0px $global-border-radius $global-border-radius);
	}

	#posts-inner {
		#post-top-layer {
			margin-left: -$post-inset;
			text-align: center;
		
			&:empty:after {
				margin-left: $post-inset;
				text-align: center;
				content: "No posts" !important;;
			}
		}

		.post-container {
			margin: {
				bottom: $post-gap;
				left: $post-inset;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}

		.post {
			@include multi-property(border-radius, $global-border-radius);
			border: $global-dark-border;
			background-color: $posts-background-colour;

			.post-header {
				@extend %post-horizontal-strip;

				.post-poster-link {
					@extend %post-horizontal-strip-button-left;
				}

				.post-view-conversation {
					@extend %post-horizontal-strip-button-left;

					.post-is-reply-to-id {
						display: none;
					}
				}

				.post-date {
					@extend %post-horizontal-strip-text-right;
					padding: 0px;
				}
			}

			.post-content {
				display: block;
				min-height: $post-min-height;
				padding: $post-content-padding;
				background-color: $post-content-background-colour;
				word-break: break-all;
				line-height: 18px;

				.post-reply-to-username {
					color: $blue;

					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}

			.post-footer {
				@extend %post-horizontal-strip;

				.post-view-reply {
					@extend %post-horizontal-strip-button-left;
				}

				.post-post-reply {
					@extend %post-horizontal-strip-button-right;
				}

				.post-delete {
					@extend %post-horizontal-strip-button-right;
				}
			}
		}

		.post-replies {
			@include multi-property(border-radius, $global-border-radius);

			&:not(:empty) {
				padding-bottom: $post-gap;
				box-shadow: $background-shadow-size $background-shadow-size $background-shadow-spread $background-shadow-colour;
			}

			&>.post-container:first-child>.post {
				border-top: 0px solid !important;
			}
		}

		#post-reply-box {
			border-top: 1px solid $black;
		}
	}

	.post-id-meta {
		display: none;
	}

	#post-reply-box {
		display: block;
		background-color: $posts-background-colour;

		#post-reply-box-content {
			display: block;
			padding: $post-content-padding;
			background-color: $post-content-background-colour;

			#post-reply-box-text-box {
				display: block;
				box-sizing: border-box;
				min-width: 100%;
				width: 100%;
				max-width: 100%;
				margin: -3px;
				padding: 2px;
				min-height: $post-text-box-one-line-height;
				height: 2 * $post-text-box-one-line-height;
				max-height: 4 * $post-text-box-one-line-height;
				border: {
					bottom: 1px solid grey;
					right: 1px solid grey;
					radius: $global-border-radius;
				}
				font-family: sans-serif;

				&:hover, &:focus {
					background-color: $index-input-focus-background-colour;
				}
			}
		}

		#post-reply-box-footer {
			@extend %post-horizontal-strip;

			#post-reply-box-post-container {
				display: inline;
				float: right;

				#post-reply-box-post {
					@extend %post-horizontal-strip-button-right;
				}
			}
		}
	}
}