#profile-aside {
	@include multi-property(border-box, box-sizing);

	display: inline-block;
	float: left;
	width: $profile-about-width;
	margin-left: $content-inner-margins;
}


%aside-block {
	@include multi-property(border-box, box-sizing);
	@include multi-property(border-radius, $global-border-radius);
	display: block;
	padding: $profile-about-padding;
	background-color: $profile-about-background-colour;
	box-shadow: $background-shadow-size $background-shadow-size $background-shadow-spread $background-shadow-colour;
}



#profile-about {
	@extend %aside-block;
	margin-bottom: 32px;

	#profile-about-image {
		@extend %profile-image;
	}

	#profile-viewing-fullname {
		margin: $profile-about-padding / 2 0px;
		font: {
			size: $profile-about-fullname-font-size;
			weight: bold;
		}
		text-align: center;
	}

	#profile-viewing-username {
		margin-bottom: $profile-about-padding / 2;
		font-weight: normal;
		text-align: center;
	}

	#profile-about-content {
		font-size: $profile-about-about-font-size;
		text-align: justify;
	}

	%profile-button {
		@extend %clickable;
		display: block;
		margin: $profile-about-padding auto ($profile-about-padding / 2);
		padding: $profile-about-button-padding;
		font-size: $profile-about-about-font-size;
		text-align: center;
	}

	#profile-follow-button {
		@extend %profile-button;
	}

	.profile-follow-button-followed {
		background-color: $background-colour !important;
	}

	#profile-view-followers-button {
		@extend %profile-button;
	}

	#profile-view-followed-button {
		@extend %profile-button;
	}

	#profile-about-more-button {
		@extend %profile-button;
		margin: -1px -1px;
	}

	#profile-about-more {
		@extend #profile-about-content;
		@include multi-property(border-radius, $global-border-radius);
		margin-top: $profile-about-padding;
		border: $global-dark-border;
		font-size: 100%;

		li {
			padding: $profile-about-button-padding;
			line-height: $profile-about-more-line-height;
			font-size: 0.8em;

			a {
				color: $blue;

				&:hover, &:active {
					text-decoration: underline;
				}
			}
		}
	}
}


#profile-suggestions {
	@extend %aside-block;

	h2 {
		margin-bottom: 16px;
		font: {
			size: $profile-about-fullname-font-size;
			weight: bold;
		}
		text-align: center;
	}

	ul {
		list-style-type: none;
		li {
			margin-top: 8px;

			a {
				color: $blue;

				&:hover, &:active {
					text-decoration: underline;
				}
			}

			ul {
				margin-left: 16px;
			}
		}
	}
}



@media only screen and (min-width: 0px) and (max-width: $site-width) {
	#profile-aside {
		width: 100%;
		display: block;
		margin: auto !important;
		float: none;
		clear: both;

		#profile-about, #profile-suggestions {
			margin: {
				bottom: 16px !important;
				left: auto !important;
				right: auto !important;
			}
		}
	}
}