.user-item {
	display: block;
	height: $user-list-item-height;
	padding: $user-list-item-padding-vertical 0px;
	border-bottom: $global-light-grey-border;
	z-index: $dialogue-z-index;

	&:last-child {
		border-bottom: 0px;
	}

	.user-item-profile-image {
		@extend %profile-image;
		float: left;
		width: $user-list-item-profile-image-size;
		height: $user-list-item-profile-image-size;
		line-height: $user-list-item-profile-image-line-height;
		vertical-align: text-top;
	}

	.user-item-full-name {
		padding-left: $user-list-item-text-padding-left;
		line-height: $user-list-item-full-name-line-height;
		font-size: $user-list-item-full-name-font-size;
		font-weight: bold;
	}

	.user-item-username {
		padding-left: $user-list-item-text-padding-left;
		line-height: $user-list-item-full-name-line-height;
		font-size: $user-list-item-username-font-size;
		font-weight: normal;
	}

	.user-item-description {
		padding-left: $user-list-item-text-padding-left;
		line-height: $user-list-item-full-name-line-height;
		font-size: $user-list-item-username-font-size;
	}

	a {
		@extend %clickable;
		display: block;
		float: right;
		width: $user-list-item-view-width;
		height: $user-list-item-view-height;
		margin-top: $user-list-item-view-margin-top;
		padding: $user-list-item-view-padding;
	}
}