{% extends "header_base.html" %}
{% load static %}
{% block content %}
	<section id="user-list">
		<h1 id="title">
			{{ userListTitle }}
		</h1>
		{% for userProfileItem in userProfiles %}
			<div class="user-item">
				<a class="user-item-view" href="{{ userProfileItem.absoluteUrl }}">
					View profile
				</a>
				<img class="user-item-profile-image" src="{{ MEDIA_URL }}{{ userProfileItem.profile_image }}" alt="No profile image">
				<h2 class="user-item-full-name">
					{{ userProfileItem.fullName }}
				</h2>
				<h3 class="user-item-username">
					@{{ userProfileItem.user.username }}
				</h3>
				<div class="user-item-description">
					{{ userProfileItem.description }}
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}